<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.alpha.common.dao.DsUserMapper">
	<resultMap id="BaseResultMap" type="com.alpha.common.model.DsUserBean">
		<id column="id" property="userId" jdbcType="INTEGER" />
		<result column="U_Number" property="userName" jdbcType="VARCHAR" />
		<result column="U_1st_Password" property="userPwd1" jdbcType="VARCHAR" />
		<result column="U_3rd_Password" property="userPwd3" jdbcType="VARCHAR" />
		<result column="U_Account_Total_5" property="amount" jdbcType="DECIMAL" />
		<result column="U_Flag" property="userFlag" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="Base_Column_List">
		id, U_Number, U_1st_Password, U_3rd_Password, U_Account_Total_5, U_Flag
	</sql>

	<!-- 登录 -->
	<select id="getUserByName" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from ${dbName}.dbo.DS_User
		where U_Number = #{userName}
	</select>

	<select id="getUserById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from ${dbName}.dbo.DS_User
		where id = #{userId}
	</select>

	<select id="getMobileByUserId" resultType="string" parameterType="java.lang.Integer">
		select top 1 C_Mobile
		from ${dbName}.dbo.DS_Contact
		where User_ID = #{userId} and C_Mobile like '1%'
		order by ID desc
	</select>

	<update id="updateLoginPwd" parameterType="com.alpha.common.model.DsUserBean">
		update ${dbName}.dbo.DS_User
		set U_1st_Password = #{userPwd1}
		where id = #{userId}
	</update>

	<update id="updateAmount" parameterType="com.alpha.common.model.DsUserBean">
		update ${dbName}.dbo.DS_User
		set U_Account_Total_5 = #{amount}
		where U_Number = #{userName}
	</update>

</mapper>
